body {
    
    background:linear-gradient(to right, rgb(254, 140, 0), rgb(248, 54, 0));
    }

.flexbox-container {
display:flex;    

}

#container {
   background-color: magenta;
    border: 7px white solid;
    height: 275px;
    width: 750px;
    margin: 90px auto;
    text-align: center;
    position:relative;
    
}

h1 {
    text-align:center;
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman';
}


#btn {
    margin-right: 50px;
    height: 50px;
    width: 250px;
    font-size: 27px;
    border: 2px black solid;
    background-color: #ffffe6;
    color: black;
}

#output {
    margin: 27px auto;
    font-size: 26px;
    color: white;
     font-family: 'Courgette';
    
}
