h1 {
    text-align:center;
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman';
}


#btn {
    margin: 50px;
    height: 50px;
    width: 250px;
    font-size: 27px;

    background-color: #ffffe6;
    color: black;
}

#output {
    margin: 27px auto;
    font-size: 26px;
    color: white;
     font-family: 'Courgette';
    
}
